* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

main {
  width: 60%;
  margin: auto;
}

#image {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 282px;
}
